@font-face {
    font-family: Terminus;
    src: url("fonts/Terminus.woff") format('woff'), /* modern browsers */
         url("fonts/Terminus.ttf") format('truetype') /* Safari, Android, iOS */;
}

h1
{
    font-size: 147%;
    margin: 0;
}

h2
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 111%;
    position: relative;
    top: 5px; /* Changing the margins isn't working */
}

p
{
    margin: 3px 0 3px 0;
}

body 
{
    font-family: Terminus;
    font-size: 103%;

    background: #121212; /* Old browsers */
    background: -moz-linear-gradient(top,  #121212 0%, #101010 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(100%,#101010)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #121212 0%,#101010 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #121212 0%,#101010 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #121212 0%,#101010 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #121212 0%,#101010 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#101010',GradientType=0 ); /* IE6-9 */
}

a
{
    outline: 0;
    color:white;
}

div#wrapper
{
    color: white;
    position: relative;
    overflow:hidden;
    width: 49em;
    margin: auto
}

.box 
{
    background: url('images/gradient.png') top left repeat-x #014051;
    padding-left: 5px;
    border: 1px solid #104b58;
}


#left-wrapper
{
    margin-top: 0px;
}

#left-wrapper *
{
    margin-right: 0px;
    margin-left: 0px;
}

#logo
{
    margin: 0 0 -4px -1px;
    font-size: 195%;
}

#logo a
{
    color: white;
    text-decoration: none;
}

.orange
{
    color: #824200    
}

#logo img
{
    border: none; /* IE 9 gives a border */
    position: relative;
    left: 8px;
    bottom: -1px;
}

#nav 
{
    margin-right: 0;
    margin-top: 0;
    overflow: hidden; /* stops the div from collapsing due to floats */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#nav ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: circle;
}

#nav li
{
    margin: 0px;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

#nav span
{
    position: relative;
    left: -3px;
}


#nav a
{
    color: white;
    text-decoration: none;
}

#nav a:hover
{
    color: grey;
}

#nav a#current
{
    color: grey;
}

section#body
{
    width: auto;
    clear: left;
    min-height: 600px;
    margin-top: 10px;
    margin-right: 0;
}

#left-sub-wrapper
{
    float: left;
    clear: none;
    margin-right: 0px;
    width: 37em;
}

div#sidebar
{
    float: right;
    margin-top: 0;
    width: 11em;
    min-height: 200px;
}

div#sidebar div
{
    margin-bottom: 10px;
}

.content
{
    padding-left: 15px;
}

.post
{
    margin-bottom: 25px;
#sidebar #notification
{
    border: 1px solid black;
    background-color:white;
    padding: 0px 3px;
    opacity: .8;
}
